body {
  background: rgb(126, 128, 180);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
}

.container {
  background: rgb(216, 216, 238);
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.choose-city {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  width: 60%;
}

.city {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.city-name {
  margin: 0;
  font-size: 26px;
}

.city-date {
  opacity: 0.7;
  font-size: 18px;
  margin-top: 5px;
}

.city-time {
  font-size: 40px;
  font-weight: bold;
  margin-top: 5px;
}

.am-pm {
  font-size: 20px;
}
