body {
  background: rgb(126, 128, 180);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
}

.container {
  background: rgb(216, 216, 238);
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
}

.choose-city {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  width: 60%;
}

.city {
  display: flex;
  justify-content: space-between;
}

.city-time {
  font-size: 30px;
  font-weight: bold;
}
